<dl>
  <dt>The reference of the invoice you are viewing is</dt>
  <dd>{{ref}}</dd>

  <dt>The invoice identifier is</dt>
  <dd>{{identifier}}</dd>

  <dt>The reference of the invoice client is</dt>
  <dd>{{client_ref}}</dd>

  <dt>... and their name is</dt>
  <dd>{{client_name}}.</dd>
</dl>

<style>
  dt { font-weight: bold}
  dd { margin-bottom: 0.5em }
</style>
